
@import "../styles/fishes.css";
@import "../styles/locations.css";
@import "../styles/quotes.css";
@import "../styles/tips.css";

.container {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-container-left {
    flex: 3;
    padding: 1em;
}

.tips {
    flex: 1;
}

.header {
    text-align: center;
    background-color: rgb(198, 237, 250);
    padding-bottom: 1em;
    padding-top: 1em;
}

