
@import "../styles/fishes.css";
@import "../styles/locations.css";
@import "../styles/quotes.css";
@import "../styles/tips.css";

.container {
    display: flex;
}

.flex-container-left {
    flex: 3;
}

.tips {
    flex: 1;
}

.header {
    text-align: center;
}

.container {
    padding: 1em;
}